.App {
  text-align: center;
  width: 100%;
}

body{
  background: linear-gradient(#ff7f00, #ffbb00);
  width: 100vw;
  height: 100vh;
}

h1 {
  color: white;
  font-size: 4.5rem;
  font-weight: 700;
}

.tempo {
  margin-top: 60px;
}

.input-box {
  padding: 10px;
  width: 30vw;
  font-size: 1.5rem;
  font-weight: 400;
}

.search-icon {
  position: relative;
  right: 40px;
  color: #666;
  font-size: 1.5rem;
}